body, html {
  font-family: "Roboto Condensed",sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url('img/bg.jpeg');
  background-attachment: fixed;
  background-size: 100vw 100vh;
  color: #221a32;
}

footer {
  text-align: center;
  background-color: #030637;
  font-size: 2rem;
  padding: 30px 0;
  color: rgba(255,255,255,.5);
}

.modal * {
  font-size: 2rem;
}




/* NAVIGATION */

.mynavbar {
  background: #030637;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mynavbar.navbar-dark .nav-link {
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: .5pt;
}

.mynavbar .navbar-toggler {
  width: 44px;
  height: 44px;
}

section {
  font-size: 1.6rem;
  background-color: hsla(0,0%,100%,.8);
  /*margin-bottom: 50px;*/
}

.section-header {
  padding: 15px 0;
  background-color: #b6b7c1;
}

.section-light {
  padding: 15px 0;
  background-color: #cdced7;
}

.section-dark {
  padding: 15px 0;
  background-color: #c7c8d1;
}

svg g {
  fill: white;
}

.separator {
  margin: 0 5px;
}

/* INTRO */

#intro {
  padding-top: 250px;
  padding-bottom: 30px;
  color: white;
  background-color: transparent;
}

#intro h1 {
  margin: 0 0 50px;
  width: 100%;
  max-width: 600px;
}

#intro h2 {
  margin: 0 0 100px;
  width: 100%;
  max-width: 300px;
}

#intro svg {
  width: 100%;
}

.concept-diagram {
  margin-top: 30px;
  max-width: 400px;
}

.grid-item-image {
  margin-bottom: 20px;
}

@media all and (min-width: 990px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-gap: 40px;
    grid-template-areas:
      "a b c"
      "d e f";
  }

  .grid-item-image {
    text-align: center;
    margin-bottom: 0;
  }
  
  .grid-item-01 {
    grid-area: a;
  }
  
  .grid-item-02 {
    grid-area: d;
  }
  
  .grid-item-03 {
    grid-area: b;
  }
  
  .grid-item-04 {
    grid-area: e;
  }
  
  .grid-item-05 {
    grid-area: c;
  }
  
  .grid-item-06 {
    grid-area: f;
  }
}

.thumb {
  height: 150px;
}

.gallery a {
  display: inline-block;
  margin-bottom: 5px;
}

.gallery a.hidden {
  display: none;
}